body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.new a:link {
    color: white;
    text-decoration: none;
}

.new a:visited {
    color: white;
    text-decoration: none;
}

.new a:active {
    color: cornflowerblue;
    text-decoration: none;
}

.new a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
}

.newMessageContainer {
    width: 20%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.mtext,
.mname {
    display: flex;
    width: 100%;
}

.mname {
    margin-top: 1rem;
}

.mname input {
    width: 100%;
}

.mtext textarea {
    height: 100px;
    width: 100%;
    padding: 8px;
    resize: none;
}
